/* ====================================================
   RESET & GLOBAL SETTINGS
==================================================== */
* { margin: 0; padding: 0; }

*, *::before, *::after { box-sizing: border-box; }


html {
    width: 100%;
    min-height: 100%;
    font-size: 100%; 
    -webkit-text-size-adjust: 100%;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    accent-color: var(--accent-color);
    scroll-behavior: smooth;  /* scroll-behavior: auto; */
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    background: var(--background);
    color: var(--color);
    min-height: 100vh;

    /* Font smoothing and numeric formatting */
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "lnum" 1;
    -webkit-font-feature-settings: "lnum" 1;

    /* Smooth transitions for all themeable properties */
    transition: background-color var(--transition-duration) var(--transition-easing), color var(--transition-duration) var(--transition-easing), border-color var(--transition-duration) var(--transition-easing) ;
}


/* Make images easier to work with */
img,
picture,
video {
    display: block;
    max-width: 100%;
}

img {
    height: auto;
}

svg {
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit
}

/* Prevents collapsed textareas when empty */
textarea:not([rows]) {
    min-height: 10em;
}

/* 'a' elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor
}

a {
    text-decoration: none;
    color: var(--link-color);
    transition: color 0.2s ease;
}

a:hover,
a:focus-visible {
    color: var(--link-color-hover);
}

a:visited:not([class]) {
    color: var(--link-color-visited);
}