.b{
    &-all{
        border: 1px solid var(--default-border);
    }
    &-top{
        border-top: 1px solid var(--default-border);
    }
    &-bottom{
        border-bottom: 1px solid var(--default-border);
    }
    &-v{
        border-top: 1px solid var(--default-border);
        border-bottom: 1px solid var(--default-border);
    }

    &-left{
        border-left: 1px solid var(--default-border);
    }
    &-right{
        border-right: 1px solid var(--default-border);
    }
    &-h{
        border-left-width: 1px;
        border-right-width: 1px;

        border-left: 1px solid var(--default-border);
        border-right: 1px solid var(--default-border);
    }
   
}

.solid{
    border-style: solid !important;
}
.dash{
    border-style: dashed !important;
}
.dot{
    border-style: dotted !important;
}

.round{
    border-radius: var(--default-radius);
}
