

/* Text Colors */
.fc{
    &-p { color: var(--color-primary); }
    &-s { color: var(--color-secondary); }
    &-a { color: var(--accent-color); }
    &-black{ color: var(--color-black); }
}

/* Background Colors */
.bg{
    &-p { background-color: var(--color-primary); }
    &-s { background-color: var(--color-secondary); }
    &-a { background-color: var(--accent-color); }
    &-black{ background-color: var(--color-black); }
}

/* Border Colors */
.bc{
    &-p { border-color: var(--color-primary); }
    &-s { border-color: var(--color-secondary); }
    &-a { border-color: var(--accent-color); }
    &-black{ border-color: var(--color-black); }
}


.fc-surf-p{color: var(--primary-surface-text);}
.fc-surf-s{color: var(--secondary-surface-text);}
.fc-surf-t{color: var(--tertiary-surface-text);}
.fc-surf-q{color: var(--quaternary-surface-text);}

.bg-surf-p{background-color: var(--primary-surface-bg);}
.bg-surf-s{background-color: var(--secondary-surface-bg);}
.bg-surf-t{background-color: var(--tertiary-surface-bg);}
.bg-surf-q{background-color: var(--quaternary-surface-bg);}

.bc-surf-p{border-color: var(--primary-surface-border);}
.bc-surf-s{border-color: var(--secondary-surface-border);}
.bc-surf-t{border-color: var(--tertiary-surface-border);}
.bc-surf-q{border-color: var(--quaternary-surface-border);}



/*Surface Hierarchy Colors*/
.surf{
    &-p{
        background-color: var(--primary-surface-bg);
        color: var(--primary-surface-text);
        border: 1px solid var(--primary-surface-border);
    }
    &-s{
        background-color: var(--secondary-surface-bg);
        color: var(--secondary-surface-text);
        border: 1px solid var(--secondary-surface-border);
    }
    &-t{
        background-color: var(--tertiary-surface-bg);
        color: var(--tertiary-surface-text);
        border: 1px solid var(--tertiary-surface-border);
    }
    &-q{
        background-color: var(--quaternary-surface-bg);
        color: var(--quaternary-surface-text);
        border: 1px solid var(--quaternary-surface-border);
    }
}


/* Semantic Colors */
.success{
    background-color: var(--success-bg);
    color: var(--success-text);
    border: var(--success-border);
}
.caution{
    background-color: var(--caution-bg);
    color: var(--caution-text);
    border: var(--caution-border);
}

.info{
    background-color: var(--info-bg);
    color: var(--info-text);
    border: var(--info-border);
}
.critical{
    background-color: var(--critical-bg);
    color: var(--critical-text);
    border: var(--critical-border);
}

/*Brand/Functional Colors*/

.reverse-color { filter: invert(100%);}
