
/* ====================================================
   THEME TOGGLE (dark/light)
==================================================== */
    /* Default (Light) */
    :root {
        --color-bg: #ffffff;
        --color-text: #222222;
        --border-color: hsla(0, 0%, 91.34%, 1);

        --color-toggle-bg: #e0e0e0;
        --color-toggle-icon: #ffbb00;
        --transition-duration: 0.4s;
        --transition-easing: cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    /* Dark mode colors. User explicitly selects dark/light. Overrides system preferences. */
    :root[data-theme="dark"] {
        --color-bg: #121212;  /*#121212 or #111111*/
        --color-text: #E0E0E0;  /*#E0E0E0 to #F5F5F5*/
        --border-color: #2D2D2D;

        --color-toggle-bg: #333333;
        --color-toggle-icon: #ffdd88;
    }

    /* System Dark Mode (system preference) */
    @media (prefers-color-scheme: dark) {
        :root:not([data-theme]) {
            --color-bg: #121212;  /*#121212 or #111111*/
            --color-text: #E0E0E0;  /*#E0E0E0 to #F5F5F5*/
            --border-color: #2D2D2D;
        }
    }