.m-icons{
    font-family: 'Material Icons';
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;  
    display: inline-block;
    line-height: inherit; 
    text-transform: none;
    letter-spacing: inherit;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: baseline;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}