header{

    /*.brand-container er maddhome .brand er bg-color, margin, padding define kora hoechhe.*/
    .brand-container{
        padding-top:0.9rem;
        padding-bottom:0.9rem;
        // background-color: var(--muted-background-color);

        .brand{
            display: flex; 
            height: 2.2rem;
            @include large{
                height: 2.67892rem;
            }

            .logo{
                height: 83%; 
                width: auto;
                @include large{
                    height: 94%;
                }
            }

            .govt-name{
                font-size: 0.7rem; 
                line-height: 1;
                color: var(--gov-color);
                @include large{
                    font-size: 0.7rem;
                }
            }

            .org{
                font-weight: 900;
                font-size: 1.2rem; line-height: 1;
                color: var(--org-color);
                @include large{
                    font-weight: 900;
                    font-size: 1.9rem; line-height: 1;
                }
            }
          
            .ham-menu-container{
                // border:1px solid blue;
                @include large{
                    display: none;
                }
                .hamb{
                    border: 1px solid white;
                    display: block;
                    padding-left: 0.29rem;
                    padding-right: 0.29rem;
                    // color: white;
                    font-size: 1.5rem;
                    line-height: 1.1;
                    cursor: pointer;
                }
            }

        } //.brand ends
    }

    .main-top-nav-container{
        // background-color: var(--dafault-background);
        .main-top-nav{
            display: none;
            @include large{
                // margin-left: 3.1rem;
                display: flex !important;
                flex-direction: row;
            }

            &>a{
                color: var(--header-menu-color);
                font-size: 0.945rem;
                display: flex;
                text-decoration: none;
                margin-bottom: 0.4345rem;
                padding-bottom: 0.4345rem;
                border-bottom: 1px solid var(--muted-border);
                &:last-child{
                    border-bottom: 0;
                    padding-bottom: 20px;
                }

                @include large{
                    border-bottom: 1px solid transparent;
                    margin-bottom: 0;
                    padding-bottom: 0;
                    margin-right: 1.5rem;
                    font-size: 0.8945rem;
                    display: inline-flex;
                    align-items: center;
                    &:last-child{
                        border-bottom: 0;
                        padding-bottom: 0;
                        border-bottom: 1px solid transparent;
                    }
                }

                &:hover{
                    border-bottom: 1px solid var(--header-menu-color-hover) !important;
                    color: var(--header-menu-color-hover);
                }
            }
        }
    }
}

        