/* ====================================================
   HEADER & NAVIGATION
==================================================== */
header {
    height: 60px;
    padding: 0 1rem;
    // box-shadow: 0 3px 6px 0 rgba(50, 50, 50, .3);
    border-bottom: 1px solid var(--secondary-surface-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: top 0.8s ease-in-out;
    background-color: var(--secondary-surface-bg);

    &.fixed{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    &.smart{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
}

#hamburgerIcon img {
    height: 100%;
    margin-right: 0.73rem;
}

.brand a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 600;
    position: relative;
    color: inherit;
}

.brand img {
    height: 2.2rem;
    width: auto;
    margin-right: 1rem;
}

nav {
    display: flex;
    flex: 1;
}

.theme-toggle-wrapper{
    margin-right: 1rem;
}

/* Toggle button styles */
#themeToggle {
    --size: 1.7rem;
    position: relative;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border: none;
    background: var(--color-toggle-bg);
    cursor: pointer;
    padding: 0;
    transition: background var(--transition-duration) var(--transition-easing);
}

.theme-toggle-wrapper {
    width: 1.5rem;
    margin-left: auto;
    cursor: pointer;
}

   
#candyIcon{
    width: 1.5rem;
    margin-left: auto;
    cursor: pointer;
    img{
        height: 100%;
    }   
}
