
a {
    :link, :link:active :visited, :visited:active{
        color: var(--default-hyperlink-color);
        text-decoration: underline;
    }
   
    :hover{
        text-decoration: none;
    }
}

