
//https://css-tricks.com/accessible-font-sizing-explained/
//https://24ways.org/2016/responsive-display-text/
//https://betterwebtype.com/articles/2019/06/16/5-keys-to-accessible-web-typography/#:~:text=Generally%20speaking%20(and%20there%20are,inherited%20size)%5B%5E2%5D.

/* ---------------------------------------------------------------> */
/* This section is requried to always keep the footer at the bottom */
.master-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    -webkit-print-color-adjust: exact !important;
  }

.main, main {
    flex: 1;
}
/* <--------------------------------------------------------------- */

.container,
.container-fluid {
  width: 100%;
  padding-right: 0.75rem; //var(--bs-gutter-x, 0.75rem);
  padding-left: 0.75rem; //var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
   .container {
        max-width: 540px;
  }
}
@media (min-width: 768px) {
   .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}


.left-nav{
    //see _left-nav.scss for more.
    width: 16rem;
    margin-right: 2rem;
}

/*Used in admin panel with left nav*/
.content{
    flex:1;
}

//used in admin panel, optional
aside{
    width: 16rem;
    margin-left: 2rem;
}

.logout-button-container{
    text-align: right;
    a{
        height: 20px;
        color: #3d4e5e; 
        text-decoration: none;
        display: inline-flex;
        img{
            margin-right: 5px;
        }
    }
    >:hover{
        text-decoration: underline;
    }
}