.left-nav{
    ul{
        list-style: none;
        list-style-position: inside;
        padding-left: 0;
    }
    
    ul>li{
         margin:-1px; 
         line-height: 2.5;
         border-bottom: 1px solid var(--color-border-default);
    }

    ul>li{
        -webkit-transition: all 0.7s ease;
        -moz-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
        transition: all 0.7s ease;
    }
    
    li>ul{
        margin-left: 0;
        padding-left: 1.5rem;
        display: none;
    }
    
    li>a{
        color: var(--color-fg-default);
        text-decoration: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover{
            color: var(--color-accent-fg)
        }
    }
}

