// Extra small devices (phones, 600px and down)
@mixin extra-small-devices {
	@media only screen and (max-width: 600px) {
		@content;
	} 
}

//Small devices (portrait tablets and large phones, 600px and up)
@mixin small-devices {
	@media only screen and (min-width: 600px) {
		@content;
	} 
}

// Medium devices (landscape tablets, 768px and up) 
@mixin medium-devices {
	@media only screen and (min-width: 768px) {
		@content;
	} 
}

// Large devices (laptops/desktops, 992px and up) 
@mixin large-devices {
	@media only screen and (min-width: 992px) {     
		@content;
	} 
}

// This is desktop-first approach
// If want to switch mobile-first, change the following to 'min-width'
$min-max: 'max-width';

// Define breakpoint variables
$xl: 1399.98px;
$lg: 1199.98px;
$md:  991.98px;
$sm: 767.98px;
$xs:  575.98px;
$us: 479.98px;

/* Extra Large devices (large desktops, < 1400px) */
@mixin xl {
	@media only screen and (#{$min-max}: $xl) {     
		@content;
	} 
}

/* Large devices (desktops, < 1200px) */
@mixin lg {
	@media only screen and (#{$min-max}: $lg) {     
		@content;
	} 
}

/* Medium devices (tablets, < 992px) */
@mixin md {
	@media only screen and (#{$min-max}: $md) {     
		@content;
	} 
}

/* Small devices (landscape phones, < 768px) */
@mixin sm {
	@media only screen and (#{$min-max}: $sm) {     
		@content;
	} 
}

/* Extra Small devices (portrait phones, < 576px) */
@mixin xs {
	@media only screen and (#{$min-max}: $xs) {     
		@content;
	} 
}

/* Ultra Small (tiny devices, like older phones < 480px) */
@mixin us {
	@media only screen and (#{$min-max}: $us) {     
		@content;
	} 
}


// //How to use media query mixins
// //Media query can be inside a class
// .class{
//     width: 65%; //default 65%
//     @include sm{
//         width: 100%;  //on small devices 100%
//     }

//     @include lg{
//         width: 50%;  //on large devices 50%
//     }
// }

// //Media query can be outside a class
// @include lg{
//     .class{
//         width: 50%;  //on large devices 50%
//     }
// }


