
.box-shadow{
    -webkit-box-shadow: 0 0 10px rgb(128, 126, 126); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:  0 0 10px rgb(128, 126, 126); /* Firefox 3.5 - 3.6 */
    box-shadow: 0 0 4px rgb(128, 126, 126); /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}


.scale-down-wrapper{
    display: flex;
}

/* this class must be within the  .scale-down-wrapper*/
img.scale-down{
  height: auto;
  width:100%;
  object-fit: scale-down;
  object-position: 0 0;
}

