
    $printable-border-color:gray; //border color for print items - applicant's copy, admit card etc.
    $printable-bg-color: rgba(0, 0, 0, 0.08);
    $printable-font-size: 11px;
    
.non-responsive{

    .grid {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 auto;
        position: relative;
        letter-spacing: -.31em;
        *letter-spacing: normal;
        word-spacing: -.43em;
        list-style-type: none; 

        border-top-width: 1px;
        border-left-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 0;;
        border-style: solid;
        border-color: $printable-border-color;
        // padding:0;
        // margin:0;

      }
        .grid::before, .grid::after {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          letter-spacing: normal;
          word-spacing: normal;
          white-space: normal; 
        }
      
      [class*="col-"] {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        letter-spacing: normal;
        word-spacing: normal;
        white-space: normal;
        position: relative;
        width: 100%;
        vertical-align: top;
        padding:0;
        margin:0;
        display: flex;
        zoom: 1; 
      }
        [class*="col-"]::before, [class*="col-"]::after {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          letter-spacing: normal;
          word-spacing: normal;
          white-space: normal;
         }

         //Nesting grid technique
        [class*="col-"] .grid {
          -ms-flex: 1 1 auto;
          -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
           margin: 0 !important;
        }
      
      .col-12 {
        width: 100%;
        *width: 99.9%; 
      }
      
      .col-11 {
        width: 91.66667%;
        *width: 91.56667%; 
      }
      
      .col-10 {
        width: 83.33333%;
        *width: 83.23333%; }
      
      .col-9 {
        width: 75%;
        *width: 74.9%; }
      
      .col-8 {
        width: 66.66667%;
        *width: 66.56667%; }
      
      .col-7 {
        width: 58.33333%;
        *width: 58.23333%; }
      
      .col-6 {
        width: 50%;
        *width: 49.9%; }
      
      .col-5 {
        width: 41.66667%;
        *width: 41.56667%; }
      
      .col-4 {
        width: 33.33333%;
        *width: 33.23333%; }
      
      .col-3 {
        width: 25%;
        *width: 24.9%; }
      
      .col-2 {
        width: 16.66667%;
        *width: 16.56667%; }
      
      .col-1 {
        width: 8.33333%;
        *width: 8.23333%; }
      
      
      .col-auto {
        -ms-flex: 1 0 auto;
        -webkit-flex: 1 0 0px;
        flex: 1 0 0px;
        width: auto; 
      }



 
}
