// for backward compatibility, keep this class
.divider-h{
    height: 1px;
}
.line, .divider, .separator{
    height: 1px;
}
.line-v, .divider-v, .separator-v{
    width: 1px;
    height: 100%;
    display: inline-block;
}