@use "sass:meta";
@use "sass:map";
@use "sass:list";
@use "sass:string";
@use "sass:math";

$mutedColorVariants: 90, 80, 70, 60, 50, 40, 30, 20, 10;

/* Text Colors */
.fc{
    color: var(--color); 
    &-p { color: var(--primary-color); }
    &-s { color: var(--secondary-color); }
    &-a { color: var(--accent-color); }
    &-black{ color: var(--color-black); }

    @each $value in $mutedColorVariants {
       $class: math.div($value, 10);

        &-muted-0#{$class} {
            color: color-mix(in srgb, currentColor #{$value * 1%}, transparent);
        }
    }
}



/* Background Colors */
.bg{
    background-color: var(--background);
    &-p { background-color: var(--primary-color); }
    &-s { background-color: var(--secondary-color); }
    &-a { background-color: var(--accent-color); }
    &-black{ background-color: var(--color-black); }
    @each $value in $mutedColorVariants {
       $class: math.div($value, 10);

        &-muted-0#{$class} {
            background-color: color-mix(in srgb, currentColor #{$value * 1%}, transparent);
        }
    }
}

/* Border Colors */
.bc{
    border-color: var(--border-color);
    &-p { border-color: var(--primary-color); }
    &-s { border-color: var(--secondary-color); }
    &-a { border-color: var(--accent-color); }
    &-black{ border-color: var(--color-black); }
        @each $value in $mutedColorVariants {
       $class: math.div($value, 10);

        &-muted-0#{$class} {
            border-color: color-mix(in srgb, currentColor #{$value * 1%}, transparent);
        }
    }
}


.fc-surf-p{color: var(--primary-surface-text);}
.fc-surf-s{color: var(--secondary-surface-text);}
.fc-surf-t{color: var(--tertiary-surface-text);}
.fc-surf-q{color: var(--quaternary-surface-text);}

.bg-surf-p{background-color: var(--primary-surface-bg);}
.bg-surf-s{background-color: var(--secondary-surface-bg);}
.bg-surf-t{background-color: var(--tertiary-surface-bg);}
.bg-surf-q{background-color: var(--quaternary-surface-bg);}

.bc-surf-p{border-color: var(--primary-surface-border);}
.bc-surf-s{border-color: var(--secondary-surface-border);}
.bc-surf-t{border-color: var(--tertiary-surface-border);}
.bc-surf-q{border-color: var(--quaternary-surface-border);}





/* Semantic Colors */
.success{
    background-color: var(--success-bg);
    color: var(--success-text);
    border: var(--success-border);
}
.caution{
    background-color: var(--caution-bg);
    color: var(--caution-text);
    border: var(--caution-border);
}

.info{
    background-color: var(--info-bg);
    color: var(--info-text);
    border: var(--info-border);
}
.critical{
    background-color: var(--critical-bg);
    color: var(--critical-text);
    border: var(--critical-border);
}

/*Brand/Functional Colors*/

.reverse-color { filter: invert(100%);}

.muted-90{
    color: color-mix(in srgb, currentColor 90%, transparent);
}
.muted-80{
    color: color-mix(in srgb, currentColor 80%, transparent);
}
.muted-70{
    color: color-mix(in srgb, currentColor 70%, transparent);
}
.muted-60{
    color: color-mix(in srgb, currentColor 60%, transparent);
}
.muted-50{
    color: color-mix(in srgb, currentColor 50%, transparent);
}
