@mixin display-flex() {
    display: -ms-flexbox ;
    display: -webkit-flex ;
    display: flex ;
}

@mixin flex-direction($direction) {
    -ms-flex-direction: $direction ;
    -webkit-flex-direction: $direction ;
    flex-direction: $direction ;
}

@mixin flex-flow($direction: row, $wrap: nowrap) {
    -ms-flex-wrap: $wrap;
    -ms-flex-direction: $direction;
    -webkit-flex-flow: $direction $wrap;
    flex-flow: $direction $wrap;
}

@mixin flex-wrap($wrapValue) {
    -ms-flex-wrap: $wrapValue ;
    -webkit-flex-wrap: $wrapValue ;
    flex-wrap: $wrapValue ;
}

@mixin justify-content($align) {
    @include ms-justify-content($align);
    -webkit-justify-content: $align ;
    justify-content: $align ;
}

@mixin ms-justify-content($align) {
    @if $align=='flex-start' {
        -ms-flex-pack: start ;
    }

    @else if $align=='flex-end' {
        -ms-flex-pack: end ;
    }

    @else if $align=='space-between' {
        -ms-flex-pack: justify ;
    }

    @else if $align=='space-around' {
        -ms-flex-pack: distribute ;
    }

    @else {
        -ms-flex-align: $align ;
    }
}

@mixin align-items($align) {
    @include ms-align-items($align);
    -webkit-align-items: $align ;
    align-items: $align ;
}

@mixin ms-align-items($align) {
    @if $align=='flex-start' {
        -ms-flex-align: start ;
    }

    @else if $align=='flex-end' {
        -ms-flex-align: end ;
    }

    @else {
        -ms-flex-align: $align ;
    }
}

@mixin align-content($align: stretch) {
    @include ms-align-content($align);
    -webkit-align-content: $align ;
    align-content: $align ;
}

@mixin ms-align-content($align) {
    @if $align=='flex-start' {
        -ms-flex-line-pack: start ;
    }

    @else if $align=='flex-end' {
        -ms-flex-line-pack: end ;
    }

    @else if $align=='space-between' {
        -ms-flex-line-pack: justify ;
    }

    @else if $align=='space-around' {
        -ms-flex-line-pack: distribute ;
    }

    @else {
        -ms-flex-line-pack: $align ;
    }
}

.flex{
    display: -ms-flexbox ;
    display: -webkit-flex ;
    display: flex ;
}

.inflex{
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}

.flex {
    &.fd-row {
        @include flex-direction(row);
        @include small(){
            &-sm {
                @include flex-direction(row);
                //will generate .fd-row-sm { ... }
            }
        }

        @include large(){
            &-lg {
                @include flex-direction(row);
                //will generate .fd-row-lg { ... }
            }
        }

        &-rev {
            @include flex-direction(row-reverse);  //will generate .fd-row-rev { ... }
           
            @include small(){
                &-sm {
                    @include flex-direction(row-reverse); //will generate .fd-row-rev-sm { ... }
                }
            }
    
            @include large(){
                &-lg {
                    @include flex-direction(row-reverse); //will generate .fd-row-rev-lg { ... }
                }
            }
        }
    }

    &.fd-col {
        @include flex-direction(column);
        @include small(){
            &-sm {
                @include flex-direction(column); //will generate .fd-col-sm { ... }
            }
        }

        @include large(){
            &-lg {
                @include flex-direction(column); //will generate .fd-col-lg { ... }
            }
        }

        &-rev {
            @include flex-direction(column-reverse); //will generate .fd-col-rev { ... }
            @include small(){
                &-sm {
                    @include flex-direction(column-reverse); //will generate .fd-col-rev-sm { ... }
                }
            }
            @include large(){
                &-lg {
                    @include flex-direction(column-reverse); //will generate .fd-col-rev-lg { ... }
                }
            }
        }
    }

    &.ff-row-wrap {
        @include flex-flow(row, wrap)
    }

    &.ff-row-nowrap {
        @include flex-flow(row, nowrap)
    }

    &.fw-wrap
    {
        @include flex-wrap(wrap);
    }

    &.fw-nowrap
    {
        @include flex-wrap(nowrap);
    }

    &.fw-rev {
        @include flex-wrap(wrap-reverse);
    }

    &.jc{
        &-start {
            @include justify-content(flex-start); //Create .jc-start { ... }
        }

        &-end {
            @include justify-content(flex-end); //Create .jc-end { ... }
        }

        &-center {
            @include justify-content(center); //Create .jc-center { ... }
        }

        &-between {
            @include justify-content(space-between); //Create .jc-between { ... }
        }

        &-around {
            @include justify-content(space-around);
        }

        &-evenly {
            @include justify-content(space-evenly);
        }
    }

    &.ai {
        &-start {
            @include align-items(flex-start);
        }
    
        &-end {
            @include align-items(flex-end);
        }
    
        &-center {
            @include align-items(center);
        }
    
        &-baseline {
            @include align-items(baseline);
        }
    
        &-stretch {
            @include align-items(stretch);
        }
    }

    &.ac {
        &-start {
            align-content: flex-start ;
        }
    
        &-end {
            align-content: flex-end ;
        }
    
        &-center {
            align-content: center ;
        }
    
        &-between {
            align-content: space-between ;
        }
    
        &-around {
            align-content: space-around ;
        }
    
        &-stretch {
            align-content: stretch ;
        }
    }
}