input[type=button], input[type=submit], button, .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    color: var(--default-foreground);
    background-color: var(--muted-background);
    border-color: var(--default-border);

    text-decoration: none;
        
    &:hover {
        // color: #fff;
        // background-color: #5a6268;
        // background-color: #47494b;
        border-color: var(--default-hyperlink-color-hover);
    }

    &:hover, &:focus {
        text-decoration: none;
    }
    
    &:focus, &.focus {
        box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
    }

    &:focus, &.focus {
        outline: 0;
        // box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    
    &.disabled, &:disabled {
        color: #fff;
        background-color: #6c757d;
        border-color: #6c757d;
        opacity: 0.65;
        pointer-events: none;
    }

    &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active {
        color: #fff;
        background-color: #545b62;
        border-color: #4e555b;
    }
    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled).active:focus{
        box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
    }

    &.outline {
        color: var(--default-forground);
        background-color: transparent;
        background-image: none;
        border-color: var(--default-border);

        &:hover {
            // color: #fff;
            // background-color: #6c757d;
            border-color: var(--default-hyperlink-color-hover);
        }
          
        &:focus, &.focus {
            box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
        }
        
        &.disabled, &:disabled {
            color: #6c757d;
            background-color: transparent;
        }
        
        &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active {
            color: #fff;
            background-color: #6c757d;
            border-color: #6c757d;
        }
        
        &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled).active:focus{
            box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
        }

    }//outline ends
}
  


