form, .form{
    accent-color: var(--accent-color);
    $margin-left: 2px;
    @mixin width() {
        // width: calc(100% - 36px);
        // width: -webkit-calc(100% - 36px);
    }

    article, .field{
        display: block;
        margin-bottom: 0.7rem;
    }

    label{
        font-weight: 600;
        font-size: 0.833rem;
        display: inline-flex;
        line-height: normal;
        &.required::after {
            content: "*";
            color: rgb(228, 64, 64);
            padding-left: 2px;
        }
    }

    .note{
        font-weight: 400;
        font-size: 0.8rem;
        font-style: italic;
        width: 100%;
        background-color: var(--dafault-background);
    }

    input[type=text], input[type=password], select, textarea{
        &:focus{
            border-color: var(--accent-color); 
            transition: border-color 0.3s ease-in-out;
            box-shadow: inset 0 0 4px var(--accent-color);
            transition: box-shadow 0.3s ease-in-out;
        }
    }

    .textbox{
        //This class transforms any element to look like input[type=text]
        //Useful to show readonly data.
    }

    input[type=text], input[type=password], select, textarea, .textbox{
        background-color: var(--dafault-background);
        color: var(--default-foreground);
        border:1px solid var(--default-border);
        width: 100%;
        margin-top:5px;
       
        letter-spacing: 0.043452rem;      
        outline: none;
        &:hover{
            border-color: var(--accent-color); 
            transition: border-color 0.3s ease-in-out;
        }
    }

    //same padding
    input[type=text], input[type=password], select, textarea, .radio-group, .checkbox-group, .textbox{
        padding: 0.232124rem 0.37rem ;
    }

    //Make same height.
    input[type=text], input[type=password], select, .textbox{
        height: 2.2rem !important;
    }

    //Set font size.
    input[type=text], input[type=password], select, .textbox, textarea, .radio-group label, .checkbox-group label {
        font-size: 0.9rem;
        letter-spacing: normal;
    }

    textarea{
        height: 70px;
    }

    .radio-group, .checkbox-group{
        background-color: var(--dafault-background);
        color: var(--default-foreground);
        border:1px solid var(--default-border);

        //By default, a radio-group shows radio inputes vertically.
        //add .horizontal class to make it horizontal
        // &.horizontal{
        //     display: flex;
        //     flex-wrap: wrap;
        //     flex-direction: row;
        //     @include small{
        //         flex-direction: column;
        //     }
        //     &>label{
        //         white-space: nowrap;
        //         flex:1;
        //         flex-basis: 25%;
        //      }
        //     &>label:not(:last-child){
        //        margin-right: 1.5rem;
        //     }
        // }
    }

    .uploader{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @include lg{
            flex-direction: row;
        }
        &>div{
            border: 1px solid black;
            width: 100%;
           
            @include lg{
                width: 45%;
            }

            &:first-child{
                @include sm{
                    margin-bottom: 20px;
                }
            }
        }

        .preview-and-instruction{
            display: flex;
            flex-direction: column;

            @include lg{
                flex-direction: row;
            }

            .preview{
                @include sm{
                    display: flex;
                    justify-content: center;
                }
            }

            .instruction{
                font-weight: 400;
                font-size: 1.0em;
                letter-spacing: 0.25px;

                @include lg{
                    padding-left: 50px;
                    display: flex;
                    align-items: center;
                }
            }

           
        }

        div.file-input{
            margin-top:20px;
        }
    }
}


label.checkbox{
    display: block;
    position: relative;
    padding-left: 35px;
    // margin-bottom: 12px;
    cursor: pointer;
    // font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &>span:first-child{
        line-height: 1.7;
    }

    /* Hide the browser's default checkbox */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
  
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        // background-color:  var(--muted-border); 
        background-color:  var(--muted-border);
        // border:1px solid var(--default-border);
    }
  
    /* On mouse-over, add a grey background color */
    &:hover input ~ .checkmark {
        background-color: var(--accent-color);
    }
    
    /* When the checkbox is checked, add a blue background */
    input:checked ~ .checkmark {
        background-color: var(--accent-color);
    }
  
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
  
    /* Show the checkmark when checked */
    input:checked ~ .checkmark:after {
        display: block;
    }
  
    /* Style the checkmark/indicator */
    .checkmark:after {
        left: 10px;
        top: 5px;
        width: 7px;
        height: 13px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

/* The radio-container */
label.radio {
    display: block;
    position: relative;
    // margin-left: 0.37rem;
    padding-left: 35px;
    // margin-bottom: 12px;
    cursor: pointer;
    // font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &>span:first-child {
        line-height: 1.7;
    }

    /* Hide the browser's default radio button */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom radio button */
    .checkmark {
        $muted-color: var(--muted-border); // #373e47;
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color:  var(--muted-border);
    }

    /* On mouse-over, add a grey background color */
    &:hover input~.checkmark {
        background-color: var(--accent-color);
    }

    /* When the radio button is checked, add a blue background */
    input:checked~.checkmark {
        background-color: var(--accent-color);
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    input:checked~.checkmark:after {
        display: block;
    }


    /* Style the indicator (dot/circle) */
    .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: white;
    }


   
}
