/* Accent Color for Form Elements */
input,
select,
button,
input[type="checkbox"],
input[type="radio"] {
    accent-color: var(--accent-color);
}



.field {
    margin-bottom: 0.7rem;
    background-color: inherit;
}

label {
    font-weight: 600;
    display: inline-flex;
    line-height: normal;

    &.required::after {
        content: "*";
        color: #f33029;
        padding-left: 2px;
    }
}

// default state -
input[type=text],
input[type=password],
select,
textarea,
.textbox {
    background-color: var(--input-background-color); //defined in theme.css
    color: var(--input-color); //defined in theme.css
    border: 1px solid var(--input-border-color); //defined in theme.css
    width: 100%;
    margin-top: 5px;
    outline: none;
    caret-color: var(--input-caret-color);
}

// hover & focus state-
input[type=text],
input[type=password],
select,
textarea {
    &:hover {
        border-color: var(--input-border-color-on-hover); //defined in theme.css
        transition: border-color 0.3s ease-in-out;
    }

    &:focus {
        background-color: var(--input-background-color-on-focus); //defined in theme.css
        border-color: var(--input-border-color-on-focus);
        transition: border-color 0.3s ease-in-out;
        box-shadow: inset 0 0 4px var(--input-border-color-on-focus);
        transition: box-shadow 0.3s ease-in-out;
    }
}

textarea {
    resize: vertical; // Allow only vertical resizing of textareas.
    min-height: 70px;
    overflow: auto;
}

[hidden] {
    display: none;
}

// placeholder color
input,
textarea {
    &::-webkit-input-placeholder {
        // Chrome/Opera/Safari
        color: var(--placeholder-color);
    }

    &:-moz-placeholder {
        // Firefox 18- 
        color: var(--placeholder-color);
    }

    &::-moz-placeholder {
        // Firefox 19+
        color: var(--placeholder-color);
    }

    &:-ms-input-placeholder {
        // IE 10+
        color: var(--placeholder-color);
    }

    &::placeholder {
        color: var(--placeholder-color);
    }
}

select option[value=""] {
    color: var(--placeholder-color);
}

.textbox {
    //This class transforms any element to look like input[type=text]
    //Useful to show readonly data.
    //Properties are added in the following rules.
}

//same padding
input[type=text],
input[type=password],
select,
textarea,
.radio-group,
.checkbox-group,
.textbox {
    padding: 0.232124rem 0.37rem;
}

//Make same height.
input[type=text],
input[type=password],
select,
.textbox {
    height: 2.4rem !important;
}

//Set font size.
input[type=text],
input[type=password],
select,
.textbox,
textarea,
.radio-group label,
.checkbox-group label {
    font-size: 0.9rem;
    letter-spacing: normal;
}

.radio-group,
.checkbox-group {
    color: var(--input-color);
    background-color: var(--input-background-color);
    border: 1px solid var(--input-border-color);

    label {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        padding: 0.3rem 0.5rem;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: var(--quaternary-surface-bg);
        }

         input {
            flex: 0 0 auto;
            margin-top: 4px;
            cursor: pointer;
        }

        span {
            flex: 1 1 auto;
            line-height: 1.8;
            font-weight: normal;
        }
    }
}
 
.radio-group input[type="radio"] {
    appearance: none; // Hide native control
    width: 1rem;
    height: 1rem;
    // margin-right: 10px;
    border: 2px solid var(--radio-border-color);
    border-radius: 50%;
    background-color: var(--input-background-color);
    
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--quaternary-surface-bg); // Now works
        border-color: var(--accent-color);
    }

    &:checked {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
        box-shadow: inset 0 0 0 3px var(--input-background-color); // Inner dot
    }
}

.checkbox-group input[type="checkbox"] {
    appearance: none; // Hide native control
    width: 1rem;
    height: 1rem;
    // margin-right: 10px;
    border: 2px solid var(--checkbox-border-color);
    border-radius: 3px;
    background-color: var(--input-background-color);
    transition: all 0.2s ease-in-out;
    position: relative;
    &:hover {
        background-color: var(--quaternary-surface-bg);
        border-color: var(--accent-color);
    }

    &:checked {
        background-color: var(--accent-color);
        border-color: var(--accent-color);

        // Checkmark
        &::after {
            content: '';
            position: absolute;
            left: 4px;
            top: 1px;
            width: 4px;
            height: 8px;
            border: solid var(--input-background-color);
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
}