


form.numbered{

    $margin-left: 36px;
    @mixin width() {
        width: calc(100% - 36px);
        width: -webkit-calc(100% - 36px);
    }

    width:90%;
    margin: 0 auto;
    padding:20px;

    .field{
        display: block;
    }

    .serial-no{
        font-family: $font-family;
        background-color: #3d4e5e;
        color:white;
        display: inline-flex;
        border-radius: 4px;
        padding-left: 5px;
        padding-right:5px;
        margin-right: 4px;
        font-weight: 100;
    }

    label{
        font-family: $font-family;
        color: $label-color;
    }
    .note{
        font-family: $font-family;
        font-weight: 400;
        font-size: 0.91em;
        color: $label-color;
        margin-left:  $margin-left;
        @include width();

        padding-top: 0;
        margin-top: 0;
    }

    input[type=text], input[type=password], select, textarea, input[type=submit], button {
        font-family: $font-family;
    }

    input[type=text], input[type=password], select, textarea{
        color: $label-color;
    }

    //Set same border color
    input[type=text], input[type=password], select, textarea, .radio-group, .checkbox-group{
        border:1px solid rgba(172, 168, 168, 0.5);
        margin-top:5px;
        padding: 5px 10px;
        letter-spacing: 0.03452rem;      
        outline: none;
    }

    input[type=text], input[type=password], select, textarea, .radio-group label, .checkbox-group label ,input[type=submit], button {
        font-weight: 400;
        font-size: 1.0em;
        letter-spacing: 0.25px; //0.02452rem;
    }

 

    .note, input[type=text], input[type=password], select, textarea, .radio-group, .checkbox-group {
        margin-left:  $margin-left;
        @include width();
    }

    //font size must be the same for perfect alignment
    .serial-no, label{
        font-size: 19px;
    }


    label{
        font-weight: 700;
        justify-content: center;
        display: inline-flex;
        &.required::after {
            content: "*";
            color: red;
            padding-left: 2px;
        }
    }
    textarea{
        height: 70px;
    }
    
    .radio-group, .checkbox-group{
        //By default, a radio-group shows radio inputes vertically.
        &>label{
            margin:3px 0;
            display: block;
                input[type=radio], input[type=checkbox]{
                margin-right: 10px;
            }
        }
    }


    .uploader{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @include lg{
            flex-direction: row;
        }
        &>div{
            border: 1px solid black;
            width: 100%;
           
            @include lg{
                width: 45%;
            }

            &:first-child{
                @include sm{
                    margin-bottom: 20px;
                }
            }
        }

        .preview-and-instruction{
            display: flex;
            flex-direction: column;

            @include lg{
                flex-direction: row;
            }

            .preview{
                @include sm{
                    display: flex;
                    justify-content: center;
                }
            }

            .instruction{
                font-weight: 400;
                font-size: 1.0em;
                letter-spacing: 0.25px;
                font-family: $font-family;
                color: #3d4e5e;

                @include lg{
                    padding-left: 50px;
                    display: flex;
                    align-items: center;
                }
            }

           
        }

        div.file-input{
            margin-top:20px;
        }
    }

    input[type=submit], button{
        margin-top: 20px;
        color:white;
        font-weight: 600;
    }

}

