// .border{
//     border-width: 1px;
//     border-style: solid;
//     border-radius: var(--border-radius);
// }

.b{
    &a{
        border-width: 1px;
        border-style: solid;
    }
    &t{
        border-top-width: 1px;
        border-top-style: solid;
    }
    &b{
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
    &l{
        border-left-width: 1px;
        border-left-style: solid;
    }
    &r{
        border-right-width: 1px;
        border-right-style: solid;
    }

    &v{
        border-top-width: 1px;
        border-top-style: solid;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
    &h{
        border-left-width: 1px;
        border-left-style: solid;
        border-right-width: 1px;
        border-right-style: solid;
    }  
}

.solid{
    border-style: solid !important;
}
.dash{
    border-style: dashed !important;
}
.dot{
    border-style: dotted !important;
}

.round{
    border-radius: var(--border-radius);
}

.br{
    &-2{
        border-radius: 2px !important;
    }
    &-4{
        border-radius: 4px !important;
    }
    &-5{
        border-radius: 5px !important;
    }
    &-6{
        border-radius: 6px !important;
    }
}