.b{
    &a{
        border-width: 1px;
        border-style: solid;
    }
    &t{
        border-top-width: 1px;
        border-top-style: solid;
    }
    &b{
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
    &l{
        border-left-width: 1px;
        border-left-style: solid;
    }
    &r{
        border-right-width: 1px;
        border-right-style: solid;
    }

    &v{
        border-top-width: 1px;
        border-top-style: solid;
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }
    &h{
        border-left-width: 1px;
        border-left-style: solid;
        border-right-width: 1px;
        border-right-style: solid;
    }  
}

.solid{
    border-style: solid !important;
}
.dash{
    border-style: dashed !important;
}
.dot{
    border-style: dotted !important;
}

.round{
    border-radius: var(--border-radius);
}

$px-values: '1' '2' '3' '4' '5' '6' '7' '8' '9' '10';
@mixin create-border-radius-in-px($prefix, $property, $device) {
    @each $value in $px-values{
        $esc: str-replace($value, '.', '' ); // see _functions.scss 
        .#{$prefix}-#{$esc}#{$device}{
            #{$property}:#{$value} + 'px !important';
        }
    }
}

@include create-border-radius-in-px("br", "border-radius", "");

// .br{
//     &-1{
//         border-radius: 1px !important;
//     }
//     &-2{
//         border-radius: 2px !important;
//     }
//     &-3{
//         border-radius: 2px !important;
//     }
//     &-4{
//         border-radius: 4px !important;
//     }
//     &-5{
//         border-radius: 5px !important;
//     }
//     &-6{
//         border-radius: 6px !important;
//     }
// }

$rem-values: '0.10' '0.20' '0.30' '0.40' '0.50' '0.60' '0.70' '0.80' '0.90' '1.00' '1.10' '1.20' '1.30' '1.40' '1.50' '1.60' '1.70' '1.80' '1.90' '2.00';

@mixin create-border-radius-in-rem($prefix, $property, $device) {
    @each $value in $rem-values{
        $esc: str-replace($value, '.', '' ); // see _functions.scss 
        .#{$prefix}-#{$esc}#{$device}{
            #{$property}:#{$value} + 'rem !important';
        }
    }
}

@include create-border-radius-in-rem("br", "border-radius", "")