// Don't use predefined border color here. border color should be defined in colors.

/* ====================================================
   Border All Sides
==================================================== */
.ba{
    border-width: 1px;
    border-style: solid;
}

/* ====================================================
   Border Directional (Individual Sides)
==================================================== */
.bt{
    border-top-width: 1px;
    border-top-style: solid;
}

.bb{
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.bl{
    border-left-width: 1px;
    border-left-style: solid;
}

.br{
    border-right-width: 1px;
    border-right-style: solid;
}

/* ====================================================
   Border Horizontal & Vertical
==================================================== */
.bh{
    border-left-width: 1px;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
}

.bv{
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}


/* ====================================================
   Border Width
==================================================== */
.bw-0 { border-width: 0; }
.bw-1 { border-width: 1px; }
.bw-2 { border-width: 2px; }
.bw-3 { border-width: 3px; }
.bw-4 { border-width: 4px; }
.bw-5 { border-width: 5px; }

/* ====================================================
   Border Style
==================================================== */
.bs-solid { border-style: solid; }
.bs-dashed { border-style: dashed; }
.bs-dotted { border-style: dotted; }
.bs-double { border-style: double; }
.bs-none { border-style: none; }