/* ====================================================
   Fluid Padding
==================================================== */
//margin-all
@include createSpacing("ma", "margin"); 
//margin-left
@include createSpacing("ml", "margin-left"); 
//margin-right
@include createSpacing("mr", "margin-right"); 
//margin-top
@include createSpacing("mt", "margin-top"); 
//margin-bottom
@include createSpacing("mb", "margin-bottom"); 

// Utility
.ma-auto{
    margin: auto;
}

.mh-auto{
   margin-left: auto; 
   margin-right: auto; 
}