
// ====================================================
//   Padding in rem
// ====================================================

@include createFixedSpacing("ma", "margin", "compact"); 
@include createFixedSpacing("mt", "margin-top", "compact"); 
@include createFixedSpacing("mb", "margin-bottom", "compact"); 
@include createFixedSpacing("ml", "margin-left", "compact"); 
@include createFixedSpacing("mr", "margin-right", "compact"); 
@include create-both-spacing("mv", "margin-top","margin-bottom", "compact");
@include create-both-spacing("mh", "margin-left","margin-right", "compact");


// Utility
.ma-auto{
    margin: auto;
}

.mh-auto{
   margin-left: auto; 
   margin-right: auto; 
}