// ====================================================
//   Margin in rem
// ====================================================

@use "sass:meta";
@use "sass:map";

$margin-properties: (
    ma: margin,
    mt: margin-top,
    mb: margin-bottom,
    ml: margin-left,
    mr: margin-right
);

$margin-dual: (
    mv: (margin-top, margin-bottom),
    mh: (margin-left, margin-right)
);


@include createRule("ma", "margin", $sizes, "rem", ""); 

@include createRule("mt", "margin-top", $sizes, "rem", ""); 
@include createRule("mb", "margin-bottom", $sizes, "rem", ""); 
@include createRule("ml", "margin-left", $sizes, "rem", ""); 
@include createRule("mr", "margin-right", $sizes, "rem", ""); 

@include create-both-spacing("mv", "margin-top","margin-bottom"); 
@include create-both-spacing("mh", "margin-left","margin-right"); 

@each $bp in map.keys($breakpoints) {
    @include breakpoint($bp) {
        @each $class, $property in $margin-properties {
            @include createRule($class, $property, $sizes, "rem", $bp); 
        }
         @each $class, $properties in $margin-dual {
            @include create-both-spacing($class, nth($properties, 1), nth($properties, 2), "-#{$bp}");
        }
    }
}



// Utility
.ma-auto{
    margin: auto;
}

.ml-auto{
   margin-left: auto; 
}

.mr-auto{
   margin-right: auto; 
}

.mh-auto{
   margin-left: auto; 
   margin-right: auto; 
}