

// ====================================================
//   Padding in rem
// ====================================================

@include createFixedSpacing("pa", "padding", "compact"); 
@include createFixedSpacing("pt", "padding-top", "compact"); 
@include createFixedSpacing("pb", "padding-bottom", "compact"); 
@include createFixedSpacing("pl", "padding-left", "compact"); 
@include createFixedSpacing("pr", "padding-right", "compact"); 
@include create-both-spacing("pv", "padding-top","padding-bottom", "compact"); 
@include create-both-spacing("ph", "padding-left","padding-right", "compact"); 