
.fullwidth{
    width:100% !important; 
}

.fullheight{
    height:100% !important; 
}

.fitcontent{
    width: -moz-fit-content  !important;
    width: fit-content !important;
}

.mincontent{
    width: min-content !important;

}

//Using max-content for box sizing
// The max-content sizing keyword represents the intrinsic maximum width or height of the content. 
//For text content this means that the content will not wrap at all even if it causes overflows.
.maxcontent{
    width: max-content !important;
    // @include small(){
    //     &-sm{
    //         width: max-content !important;
    //     }
    // }
    // @include large(){
    //     &-lg{
    //         width: max-content !important;
    //     }
    // }
}
