@mixin create-display-rule($device){
    .hidden#{$device}{
        display: none !important;
    }
    
    .inline#{$device}{
        display: inline;
    }
    
    .block#{$device}{
        display: block; 
    }
    
    .inblock#{$device}{
        display: inline-block;
    }
}

@include create-display-rule("");

@include small(){
    @include create-display-rule("-sm");
}

@include large(){
    @include create-display-rule("-lg");
}

//NOTE: 
//display:flex and display:inline-flex removed to _flex-parent.scss.
//display:grid is not in the scope of this framework. See griddle.


.d{
    &-table {
        display: table;
        //Excluded media query intentionally.
        &-row {
            display: table-row; //.d-table-row { ... }
            //Excluded media query intentionally.
        }

        &-cell {
            display: table-cell; //.d-table-cell { ... }
            //Excluded media query intentionally.
        }
    }
}