// \31 = 1, \32 = 2, ...
// \25 = % sign 
// \31 30\25 = 130%

@mixin create-filter($property) {
    @for $i from 5 through 15 {
        $value: $i*10;
        &-#{$value}\25{
            filter:#{$property}(50%);
        }
    }
}

.brightness{
   @include create-filter("brightness");
}
.contrast{
   @include create-filter("contrast");
}
.grayscale{
   @include create-filter("grayscale");
}

.blur{
    &-\1px{
        filter: blur(1px);
    }
    &-\2px{
        filter: blur(2px);
    }
    &-\3px{
        filter: blur(3px);
    }
    &-\4px{
        filter: blur(4px);
    }
    &-\5px{
        filter: blur(5px);
    }
}