.light-080{ filter: brightness(0.80); }
.light-085{ filter: brightness(0.85); }
.light-090{ filter: brightness(0.90); }
.light-095{ filter: brightness(0.95); }
.light-100{ filter: brightness(1.00); }
.light-105{ filter: brightness(1.05); }
.light-110{ filter: brightness(1.10); }
.light-115{ filter: brightness(1.15); }
.light-120{ filter: brightness(1.20); }