.bright-080{ filter: brightness(0.80); }
.bright-085{ filter: brightness(0.85); }
.bright-090{ filter: brightness(0.90); }
.bright-095{ filter: brightness(0.95); }
.bright-100{ filter: brightness(1.00); }
.bright-105{ filter: brightness(1.05); }
.bright-110{ filter: brightness(1.10); }
.bright-115{ filter: brightness(1.15); }
.bright-120{ filter: brightness(1.20); }