
.h-auto{
    height:auto !important; 
    @include small(){
        &-sm{
            height:auto !important; 
        }
    }
    @include large(){
        &-lg{
            height:auto !important; 
        }
    }
}

.h-fit{
    height: -moz-fit-content  !important;
    height: fit-content !important;

    @include small(){
        &-sm{
            height: -moz-fit-content  !important;
            height: fit-content !important;
        }
    }
    @include large(){
        &-lg{
            height: -moz-fit-content  !important;
            height: fit-content !important;
        }
    }
}

.h-max{
    height: max-content !important;
    @include small(){
        &-sm{
            height: max-content !important;
        }
    }
    @include large(){
        &-lg{
            height: max-content !important;
        }
    }
}

.h-min{
    height: min-content !important;
    @include small(){
        &-sm{
            height: min-content !important;
        }
    }
    @include large(){
        &-lg{
            height: min-content !important;
        }
    }
}

.h-inherit{
    height:inherit !important; 
    @include small(){
        &-sm{
            height:inherit !important; 
        }
    }
    @include large(){
        &-lg{
            height:inherit !important; 
        }
    }
}

.h-initial{
    height:initial !important; 
    @include small(){
        &-sm{
            height:initial !important; 
        }
    }
    @include large(){
        &-lg{
            height:initial !important; 
        }
    }
}

.h-unset{
    height:unset !important; 
    @include small(){
        &-sm{
            height:unset !important; 
        }
    }
    @include large(){
        &-lg{
            height:unset !important; 
        }
    }
}

.h-full, .full-height{
    height:100% !important; 
    @include small(){
        &-sm{
            height:100% !important; 
        }
    }
    @include large(){
        &-lg{
            height:100% !important; 
        }
    }
}
