
.hover\:opacity-9{
    &:hover{
        opacity: 0.9;
    }
}
.hover\:opacity-8{
    &:hover{
        opacity: 0.8;
    }
}

.hover\:opacity-7{
    &:hover{
        opacity: 0.7;
    }
}

.hover\:opacity-6{
    &:hover{
        opacity: 0.6;
    }
}


.hover\:bright{
    &:hover{
        filter: brightness(1.2);
        transition: all .3s ease-in-out;  //ease-in, ease-out, ease-in-out
    }
}

.hover\:dark{
    &:hover{
        filter: brightness(0.80);
        transition: all .3s ease-in-out;  //ease-in, ease-out, ease-in-out
    }
}

