
.hover\:opacity-9{
    &:hover{
        opacity: 0.9;
    }
}
.hover\:opacity-8{
    &:hover{
        opacity: 0.8;
    }
}

.hover\:opacity-7{
    &:hover{
        opacity: 0.7;
    }
}

.hover\:opacity-6{
    &:hover{
        opacity: 0.6;
    }
}

$brightnesses: '100' '120' '140' '160' '180' '200' '300' '400';

@mixin create-brightness() {
    @each $brightness in $brightnesses{
        &-#{$brightness}\25{
            &:hover{
                filter: brightness(#{$brightness}+'%');
                transition: all 0.3s ease-in-out;  //ease-in, ease-out, ease-in-out
            }
        }
    }
}

.hover\:bright{
    @include create-brightness();
}
$darknesses: '80' '60' '40' '20' '0';



@mixin create-darkness() {
    @each $dark in $darknesses{
        &-#{$dark}\25{
            &:hover{
                filter: brightness(#{$dark}+'%');
                transition: all 0.3s ease-in-out;  //ease-in, ease-out, ease-in-out
            }
        }
    }
}
.hover\:dark{
    @include create-darkness();
}

