.darken:hover {
    filter: brightness(85%);
    transition: filter 0.2s ease-in-out;
}
.brighten:hover {
    filter: brightness(115%);
    transition: filter 0.2s ease-in-out;
}



.btn {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: var(--border-radius);
    font-size: var(--text-sm);
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn-primary {
    background: var(--color-primary);
    color: white;
}

.btn-primary:hover {
    filter: brightness(90%);
}

.btn-outline {
    background: transparent;
    border: var(--border);
    color: var(--color-text);
}

.btn-outline:hover {
    background: var(--color-muted);
    color: white;
}



/* ====================================================
   Positioning
==================================================== */
.relative{ position: relative; }
.fixed{ position: fixed; }
.absolute{ position: absolute; }


/* ====================================================
   Display
==================================================== */
.hidden { display: none; }
.inline { display: inline; }
.block { display: block; }
.iblock { display: inline-block; }


/* ====================================================
   Flexbox
==================================================== */
.flex{display: flex;}
.iflex{display: inline-flex;}
.fd-row{flex-direction: row;}
.fd-col{flex-direction: column;}
.jc-center{justify-content: center;}
.ai-center{align-items: center;}
.flex-center{display: flex; justify-content: center; align-items: center;}

/* ====================================================
   Divider
==================================================== */
.line, .separator, .divider{
    height: 1px;
}

/* ================================ */
/* Utility Classes for Easy Use */
/* ================================ */
// .surface-primary {
//     background-color: var(--primary-surface-bg);
//     color: var(--primary-surface-text);
//     border: 1px solid var(--primary-surface-border);
//   }
  
//   .surface-secondary {
//     background-color: var(--secondary-surface-bg);
//     color: var(--secondary-surface-text);
//     border: 1px solid var(--secondary-surface-border);
//   }
  
//   .surface-tertiary {
//     background-color: var(--tertiary-surface-bg);
//     color: var(--tertiary-surface-text);
//     border: 1px solid var(--tertiary-surface-border);
//   }
  
//   .surface-quaternary {
//     background-color: var(--quaternary-surface-bg);
//     color: var(--quaternary-surface-text);
//     border: 1px solid var(--quaternary-surface-border);
//   }

  .w{
    &-fit{
        width: fit-content;
    }
    &-min{
        width: min-content;
    }
    &-max{
        width: max-content;
    }
  }

/* ================================ */
/* Font-Style */
/* ================================ */

.b{
    font-weight: bold;
}

.i{
    font-style: italic;
}