// @if ($enable-class-container and $enable-classes) {
//   /**
//  * Container
//  */

// }

[class^='container-'], [class*='container-'],
.container,
.container-fluid {
    width: 100%;
    padding-right: var(--container-padding, 0.75rem);
    padding-left: var(--container-padding, 0.75rem);
    margin-right: auto;
    margin-left: auto;
   
    // @include small(){
    //     padding-right: 10px;
    //     padding-left: 10px;
    // }
    flex: 1 0 auto;
}

.container{
    max-width: var(--container-max-width, 1200px); 
}

.container-1100{
    max-width: 1100px; 
}

.container-1000{
    max-width: 1000px; 
}
.container-900{
    max-width: 900px; 
}
.container-800{
    max-width: 800px; 
}
.container-700{
    max-width: 700px; 
}
.container-600{
    max-width: 600px; 
}