/* ====================================================
   HEADER & NAVIGATION
==================================================== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform .3s ease;

    &.fixed,
    &.smart {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    &.smart.is-hidden {
        transform: translateY(-100%);
    }
}