/* ====================================================
   Grid
==================================================== */

.grid{
    display: grid;
    gap: var(--space-xs);

    // For Fluid 
    &.ch50{ grid-template-columns: repeat(auto-fit, minmax(min(100%, 50ch), 1fr)); }
    &.ch40{ grid-template-columns: repeat(auto-fit, minmax(min(100%, 40ch), 1fr)); }
    &.ch30{ grid-template-columns: repeat(auto-fit, minmax(min(100%, 30ch), 1fr)); }
    &.ch20{ grid-template-columns: repeat(auto-fit, minmax(min(100%, 20ch), 1fr)); }
    &.ch15{ grid-template-columns: repeat(auto-fit, minmax(min(100%, 15ch), 1fr)); }
    &.ch12{ grid-template-columns: repeat(auto-fit, minmax(min(100%, 12ch), 1fr)); } 

    &.dense{
        grid-auto-flow: dense; /* [2] */
    }

    @for $i from 1 through 12 {
        &.fr#{$i}{
            grid-template-columns: repeat(#{$i}, 1fr) !important;
        }
    }

    @include xl{
        @for $i from 1 through 12 {
            &.fr#{$i}-xl{
                grid-template-columns: repeat(#{$i}, 1fr) !important;
            }
        }
    }
    @include lg{
        @for $i from 1 through 12 {
            &.fr#{$i}-lg{
                grid-template-columns: repeat(#{$i}, 1fr) !important;
            }
        }
    }
    @include md{
        @for $i from 1 through 12 {
            &.fr#{$i}-md{
                grid-template-columns: repeat(#{$i}, 1fr) !important;
            }
        }
    }
    @include sm{
        @for $i from 1 through 12 {
            &.fr#{$i}-sm{
                grid-template-columns: repeat(#{$i}, 1fr) !important;
            }
        }
    }
    @include xs{
        @for $i from 1 through 12 {
            &.fr#{$i}-xs{
                grid-template-columns: repeat(#{$i}, 1fr) !important;
            }
        }
    }   
    @include us{
        @for $i from 1 through 12 {
            &.fr#{$i}-us{
                grid-template-columns: repeat(#{$i}, 1fr) !important;
            }
        }
    }

    //A grid with unknown fractions 
    &.auto{
        --grid-column-count: 12;  //default 6 cols.
        @include sm{
            &.max1-sm{
                --grid-column-count: 1;
            }
            &.max2-sm{
                --grid-column-count: 2;
            }
            &.max3-sm{
                --grid-column-count: 3;
            }
            &.max4-sm{
                --grid-column-count: 4;
            }
            &.max5-sm{
                --grid-column-count: 5;
            }
            &.max6-sm{
                --grid-column-count: 6;
            }
            &.max7-sm{
                --grid-column-count: 7;
            }
            &.max8-sm{
                --grid-column-count: 8;
            }
            &.max9-sm{
                --grid-column-count: 9;
            }
            &.max10-sm{
                --grid-column-count: 10;
            }
            &.max11-sm{
                --grid-column-count: 11;
            }
            &.max12-sm{
                --grid-column-count: 12;
            }
        }
        
        @include md{
            &.max1-md{
                --grid-column-count: 1;
            }
            &.max2-md{
                --grid-column-count: 2;
            }
            &.max3-md{
                --grid-column-count: 3;
            }
            &.max4-md{
                --grid-column-count: 4;
            }
            &.max5-md{
                --grid-column-count: 5;
            }
            &.max6-md{
                --grid-column-count: 6;
            }
            &.max7-md{
                --grid-column-count: 7;
            }
            &.max8-md{
                --grid-column-count: 8;
            }
            &.max9-md{
                --grid-column-count: 9;
            }
            &.max10-md{
                --grid-column-count: 10;
            }
            &.max11-md{
                --grid-column-count: 11;
            }
            &.max12-md{
                --grid-column-count: 12;
            }
        }

        @include lg{
            &.max1-lg{
                --grid-column-count: 1;
            }
            &.max2-lg{
                --grid-column-count: 2;
            }
            &.max3-lg{
                --grid-column-count: 3;
            }
            &.max4-lg{
                --grid-column-count: 4;
            }
            &.max5-lg{
                --grid-column-count: 5;
            }
            &.max6-lg{
                --grid-column-count: 6;
            }
            &.max7-lg{
                --grid-column-count: 7;
            }
            &.max8-lg{
                --grid-column-count: 8;
            }
            &.max9-lg{
                --grid-column-count: 9;
            }
            &.max10-lg{
                --grid-column-count: 10;
            }
            &.max11-lg{
                --grid-column-count: 11;
            }
            &.max12-lg{
                --grid-column-count: 12;
            }
        }

        --grid-item--min-width: 100px;
        --gap-count: calc(var(--grid-column-count) - 1);
        --total-gap-width: calc(var(--gap-count) * var(--space-xs));
        --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

        // grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
        grid-template-columns: repeat(auto-fit, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    }

    // Gap overriding 
    &.gap-us{
        gap: var(--space-us) !important;
    }
    &.gap-xs{
        gap: var(--space-xs) !important;
    }
    &.gap-sm{
        gap: var(--space-sm) !important;
    }
    &.gap-md{
        gap: var(--space-md) !important;
    }
    &.gap-lg{
        gap: var(--space-lg) !important;
    }
    &.gap-xl{
        gap: var(--space-xl) !important;
    }
}



/* ====================================================
   Grid Child
==================================================== */

//https://learncssgrid.com/

// An Auto-Filling CSS Grid With Max Columns of a Minimum Size
// https://css-tricks.com/an-auto-filling-css-grid-with-max-columns/


.grid{
    &>.fullwidth {
        grid-column: 1 / -1;
    }

    @for $i from 1 through 12 {
        &>.fr#{$i} {
            grid-column-end: span #{$i};
        }
        @include xl{
            &>.fr#{$i}-xl {
                grid-column-end: span #{$i};
            }
        }
        @include lg{
            &>.fr#{$i}-lg {
                grid-column-end: span #{$i};
            }
        }
        @include md{
            &>.fr#{$i}-md {
                grid-column-end: span #{$i};
            }
        }

        @include sm{
            &>.fr#{$i}-sm {
                grid-column-end: span #{$i};
            }
        }
        @include xs{
            &>.fr#{$i}-xs {
                grid-column-end: span #{$i};
            }
        }
        @include us{
            &>.fr#{$i}-md {
                grid-column-end: span #{$i};
            }
        }
    }
}
//<--------------grid column width//

//grid column start position ------------>
.grid {
    //from1 - from12
    @for $i from 1 through 12 {
        &>.from#{$i} {
            grid-column-start: #{$i};
        }

        @include sm{
            &>.from#{$i}-sm {
                grid-column-start: #{$i};
            }
        }

        @include lg{
            &>.from#{$i}-lg {
                grid-column-start: #{$i};
            }
        }
    }
}
//<--------------grid column start position//