
// \31 = 1, \32 = 2, ...
// \25 = % sign 
// \31 30\25 = 130%


$percentageValues: '10' '20' '30' '40' '50' '60' '70' '80' '90' '100' '110' '120' '130' '140' '150' '160' '170' '180' '190' '200' '210' '220' '230' '240' '250' '260' '270' '280' '290' '300' '310' '320' '330' '340' '350' '360' '370' '380' '390' '400';

@mixin create-font-size-in-percentage($device, $version) {
    @if $version == "general" {
        //General version. Creates .fs-10%
        @each $value in $percentageValues{
            $escaped: str-replace($value, '.', '' ); // see _functions.scss 
            .fs-#{$escaped}\25#{$device}{
                font-size:#{$escaped} + '%';
            }
        }
    } @else {
         //Compact version. Creates .fs10%
        @each $value in $percentageValues{
            $escaped: str-replace($value, '.', '' ); // see _functions.scss 
            .fs#{$escaped}\25#{$device}{
                font-size:#{$escaped} + '%';
            }
        }
    }
}


$rmValues: '0.1' '0.2' '0.3' '0.4' '0.5' '0.6' '0.7' '0.8' '0.9' '1.0' '1.1' '1.2' '1.3' '1.4' '1.5' '1.6' '1.7' '1.8' '1.9' '2.0' '2.1' '2.2' '2.3' '2.4' '2.5' '2.6' '2.7' '2.8' '2.9' '3.0' '3.1' '3.2' '3.3' '3.4' '3.5' '3.6' '3.7' '3.8' '3.9' '4.0';

@mixin create-font-size-in-rem($device, $version) {
    @if $version == "general" {
        //General version. Create rules like .fs-1.0
        @each $value in $rmValues{
            $part1: str-slice($value, 1, 1); //when $value = '0.50', it returns '0'
            $part2: str-slice($value, 3, 4) ; //when $value = '0.50', it returns '50'
            .fs-#{$part1}\.#{$part2}#{$device}{
                font-size:#{$value} + 'rem';
            }
        }
    } @else {
        //Compact version. Create rules like .fs10
        @each $value in $rmValues{
            $part1: str-slice($value, 1, 1); //when $value = '0.50', it returns '0'
            $part2: str-slice($value, 3, 4) ; //when $value = '0.50', it returns '50'
            .fs#{$part1}#{$part2}#{$device}{
                font-size:#{$value} + 'rem';
            }
        }
    }
}

@include create-font-size-in-percentage("","general");
@include create-font-size-in-percentage("","compact");

@include create-font-size-in-rem("", "general");
@include create-font-size-in-rem("", "compact");

@include small{
    @include create-font-size-in-percentage("-sm", "general");
    @include create-font-size-in-percentage("sm", "compact");
    @include create-font-size-in-rem("-sm", "general");
    @include create-font-size-in-rem("sm", "compact");
}
@include large{
    @include create-font-size-in-percentage("-lg", "general");
    @include create-font-size-in-percentage("lg", "compact");
    @include create-font-size-in-rem("-lg", "general");
    @include create-font-size-in-rem("lg", "compact");
}