@use "sass:meta";
@use "sass:map";

/* ====================================================
   Font-Size
==================================================== */
// @include createFontSizes("");

@include createRule("fs", "font-size", $sizes, "rem", ""); 
@each $bp in map.keys($breakpoints) {
    @include breakpoint($bp) {
        @include createRule("fs", "font-size", $sizes, "rem", $bp); 
    }
}

// @each $bp in map.keys($breakpoints) {
//     @include breakpoint($bp) {
//         @include createFontSizes($bp);
//     }
// }

/* ====================================================
   Font-Weight
==================================================== */
.b{
    font-weight: bold;
}

@include createRule("fw", "font-weight", $fontWeights, "", ""); 

/* ====================================================
   Line-Height
==================================================== */
@include createRule("lh", "line-height", $lineHeights, "", ""); 

@each $bp in map.keys($breakpoints) {
    @include breakpoint($bp) {
        @include createRule("lh", "line-height", $lineHeights, "", $bp); 
    }
}


/* ====================================================
   White Space
==================================================== */



/* ====================================================
   Text Alignment
==================================================== */
.left{text-align: left;}
.right{text-align: right;}
.center{text-align: center;}
.justify{text-align: justify;}

$text-alignments: left, right, center, justify;
@each $bp in map.keys($breakpoints) {
    @include breakpoint($bp) {
        @each $align in $text-alignments {
            .ta-#{$align}-#{$bp} { text-align: $align; }
        }
    }
}


/* ====================================================
   Text Transformation
==================================================== */
.ucase{text-transform: uppercase;}
.lcase{text-transform: lowercase;}
.ccase{text-transform: capitalize;}

/* ====================================================
   Text Decoration
==================================================== */
.uline{text-decoration: underline;}
.oline{text-decoration: overline;}
.noline{text-decoration: none;}

/* ================================ */
/* Font-Style */
/* ================================ */
.i{font-style: italic;}

/* ====================================================
   Misc
==================================================== */
.super{vertical-align: super;}