/* ====================================================
   Board
==================================================== */
.board{
    border-radius: var(--border-radius);

    &.success{
        background-color: var(--success-bg);
        color: var(--success-text);
        border: var(--success-border);
    }
    &.caution{
        background-color: var(--caution-bg);
        color: var(--caution-text);
        border: var(--caution-border);
    }
    
    &.info{
        background-color: var(--info-bg);
        color: var(--info-text);
        border: var(--info-border);
    }
    &.critical{
        background-color: var(--critical-bg);
        color: var(--critical-text);
        border: var(--critical-border);
    }
    
    &.muted{
        background-color: var(--color-muted);
    }
}
