%card-base {
    border-radius: var(--border-radius);
}
.card{
    // Used Primary Surface Color Palettes
    &-ps{
        background-color: var(--primary-surface-bg);
        color: var(--primary-surface-text);
        border: 1px solid var(--primary-surface-border);
        @extend %card-base;
    }
    
    // Used Secondary Surface Color Palettes
    &-ss{
        background-color: var(--secondary-surface-bg);
        color: var(--secondary-surface-text);
        border: 1px solid var(--secondary-surface-border);
        @extend %card-base;
    }

    // Used Tertiary Surface Color Palettes
    &-ts{
        background-color: var(--tertiary-surface-bg);
        color: var(--tertiary-surface-text);
        border: 1px solid var(--tertiary-surface-border);
        @extend %card-base;
    }

    // Used Quaternary Surface Color Palettes
    &-qs{
        background-color: var(--quaternary-surface-bg);
        color: var(--quaternary-surface-text);
        border: 1px solid var(--quaternary-surface-border);
        @extend %card-base;
    }
    
    &.muted{
        background-color: var(--color-muted);
        @extend %card-base;
    }
}