.dismissable{
    display: none;
    opacity: 1;
    transition: opacity 0.6s ease, transform 0.6s ease;
    padding:var(--space-xs);
    border-radius: var(--border-radius);

    &.show {
        display: block;
    }
    &.hide {
        opacity: 0;
    }

    .dismiss {
        border: 1px solid;
        border-radius: 4px;
        cursor: pointer;
        font-size: 11px;
        padding: 1px 5px;
    }
}