
.button {
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    // transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;

    // &:hover, &:focus {
    //     text-decoration: none;
    //     filter: brightness(120%);
    //     transition: all 0.3s ease-in-out;
    // }
    
    // &:focus, &.focus {
    //     outline: 0;   
    // }

    // &.disabled, &:disabled {
    //     opacity: 0.65;
    //     pointer-events: none;
    // }

    // &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active {
    //     filter: brightness(120%);
    //     transition: all 0.3s ease-in-out;
    // }

    // &:not(:disabled):not(.disabled) {
    //     cursor: pointer;
    // }

    // &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled).active:focus{
    //     filter: brightness(120%);
    //     transition: all 0.3s ease-in-out;
    // }
}
  


