.table{
    background-color: var(--table-background-color);
    border:1px solid var(--table-border-color);
    border-radius: var(--border-radius);
    border-spacing: 0;
    overflow: hidden;
    font-size: 0.9rem;
  
    .thead{
        background-color: var(--thead-background-color);
        color: var(--thead-color);
        text-align: center;
        .tr{
            .th{
                font-weight: 600;
                padding: 0.2345rem;
                border-bottom: 2px solid var(--th-border-color);
                word-break: break-all;
                // white-space: nowrap;
            }

            .th:not(:first-child){
                border-left: 1px solid var(--th-border-color);
            }
        }
    }

    .tbody{
        color: var(--tbody-color);
        .tr{
            .td{
                padding: 0.5rem 1rem;
            }

            &:not(:last-child)>.td{
                border-bottom: 1px solid var(--tr-border-color);
            }

           &:nth-child(even){
                background-color: var(--tr-even-background-color);
            }

            &:hover{
                .td{
                    background-color: var(--tr-hover-background-color);
                }
            } 
        }
       
    }


}