.line-through, .tline{
    text-decoration: line-through;
}

.underline, .uline{
    text-decoration: underline;
}
.overline, .oline{
    text-decoration: overline;
}
.noline{
    text-decoration: none;
}