
// sass --watch main.scss:../omnicss.min.css --style compressed

//sass nesting ----->
    //.bg {  &-orange { ... } } will turn into .bg-orange { ... }
//<----- sass nesting//

@import 'modules/reset';
@import 'modules/media_queries'; 
@import 'modules/root'; 

@import 'modules/layout';  
// @import 'modules/bs-grid'; 

@import 'modules/margin'; 
@import 'modules/padding'; 

@import 'modules/typography';
@import 'modules/hyperlink';

@import 'modules/header';
@import 'modules/footer';
@import 'modules/left-nav';

@import 'modules/form/form';
@import 'modules/form/buttons'; 

@import 'modules/flex/flex-parent'; 
@import 'modules/flex/flex-child';  
@import 'modules/card';  
@import 'modules/google-material-icons'; 
@import 'modules/table';

// @import 'modules/print/nonresponsive-grid';
// @import 'modules/print/printable';
@import 'modules/misc';

// @import 'modules/utilities/spinner';

@import 'modules/pages/preview.php';

@import 'modules/divider';
@import 'modules/colors';
@import 'modules/borders';
@import 'modules/box-sizing';
@import 'modules/display';
@import 'modules/positioning';

////Font size tips-
// font-size: 100%; in most browsers, this 100% = 16px = 1rem
// font-size: 112.5%; In most browsers this 112.5% = 18px = 1.125rem

////Another option to set font-size-
////In order to seamlessly convert pixels to rem, we can set the root sizing to 62.5%. That means 1rem = 10px:
//  font-size: 62.5%;  (62.5/100) * 16px = 10px 

// *{
//     margin: 0;
//     padding: 0;
//     line-height:  var(--default-line-height-sm);
//     @include large(){
//         line-height:  var(--default-line-height-lg);
//     }
// }

html, body {
    width: 100%;
    min-height: 100%;
}

html{
    font-size: 16px;
    font-size: 100%; 
    @include large{
        font-size: 112.5%;
    }

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    
    accent-color: var(--accent-color);
}

body{
    // can be treated like a fallback 
    background-color: var(--dafault-background, #FFFFFF);  //Custom properties with fallbacks for use when the property has not been set
    // will be "on top", if browser supports it 
    background:  var(--default-body-background); 
    // --default-body-background can be anyone of the following -
    //background: red; OR
    //background: linear-gradient(307deg, #29648a 0%, #5e9ac3 50%); OR
    //background: #ffffff url(assets/images/corners/corners-4/corner-4-right-bottom.png) no-repeat right bottom / contain;

    font-family: var(--default-font);  //var(--font-body);
   
    // overflow-x: hidden;
    font-weight: var(--default-font-weight);
    text-align: left;

    
    line-height: var(--body-line-height-sm);
    @include large{
        line-height: var(--body-line-height-lg);
    }
    
    color: var(--default-foreground);
}




