// sass --watch omnicss.scss:../omni.css
// sass --watch omnicss.scss:../omni.min.css --style compressed

// git tag 		//show current tags
// git tag v14.0.5   	//create new tag
// git push --tags -u origin master

//sass nesting ----->
    //.bg {  &-orange { ... } } will turn into .bg-orange { ... }
//<----- sass nesting//

/* ===== OmniCSS ===== */
/* A tiny, clean, futuristic CSS framework */
/* ~2KB | No dependencies | MIT License */


@import 'modules/base/variables';
@import 'modules/base/reset';

@import 'modules/media-queries'; 
@import 'modules/functions'; 

//Box Model
@import 'modules/box-model/border'; 
@import 'modules/box-model/padding'; 
@import 'modules/box-model/margin';

//Components 
@import 'modules/components/action-menu'; 
@import 'modules/components/board'; 
// @import 'modules/components/card'; 
@import 'modules/components/container'; 
@import 'modules/components/dialog'; 
@import 'modules/components/dismissable'; 
@import 'modules/components/expandable'; 
@import 'modules/components/gridable'; 
@import 'modules/components/pill'; 

@import 'modules/form/form'; 

@import 'modules/layout/layout'; 
@import 'modules/layout/header'; 

@import 'modules/misc/misc'; 
@import 'modules/misc/filter'; 

@import 'modules/typography/typography'; 
@import 'modules/typography/typography-misc'; 

@import 'modules/colors';